---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto');
// reset margins and paddings

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

$grape-color: #724997;
$eggplant-color: #FFF;
$sand-color: #f4e8fc0;
$shell-color: #FFF;
// Our variables
/*$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
*/
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "neat";
@import "normalize";

body {
  background-color: $shell-color;
}

#main {
  @include grid-container;
  margin-top: 2em;
}

#main-content {
  @include grid-column(12);
}

#posts {
  @include grid-column(8 0f 12);
  @include grid-push(2);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $sand-color;
  font-size: 1.2em;
  line-height: 1.5em;
}

/// header section

.site-header {
  background-color: $grape-color;
  padding: 1em;
  color: $eggplant-color;
  // nav
  .menu {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    margin: 1em 0 1em 0;
    text-align: center;
    li {
      margin-right: 2.5em;
      display: inline-block;
      a {
	color: $shell-color;
	position: relative;
	text-decoration: none;
	&:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: 0;
	  left: 0;
	  background-color: #FFF;
	  visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;
	}
	&:hover:before {
	  cursor: pointer;
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
	&:hover {
	  color: #FFF;
	}
      }
    }
  }

  // title container

  .title-container {
    text-align: center;
    margin: 8em 0 8em 0;
    a {
      color: $shell-color;
      text-decoration: none;
    }
  }
}


